<!-- recette.component.html -->
<div class="container">
    <div class="row" *ngFor="let recipe of recipes">
      <div class="col-md-6">
        <div class="card mb-3">
          <img [src]="recipe.image" alt="Image de la recette" class="card-img-top img-fluid" *ngIf="recipe.image">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title | titlecase }}</h5>
            <p class="card-text">Ingrédients : {{ recipe.ingredients }}</p>
            <p class="card-text">Instructions : {{ recipe.instructions }}</p>
            <p class="card-text">Note :
                <span class="star">
                    {{ recipe.rating | starRating }}
                </span> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  