// recette.component.scss
.img-thumbnail {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }

.star {
    color: gold;
  }

.recipe-card {
    height: 400px; /* Ajustez cette valeur en fonction de vos besoins */
  }
  
  .recipe-card-body {
    max-height: calc(100% - 50px); /* 50px est la hauteur approximative de l'image de la recette */
    overflow-y: auto;
  }
/* styles.css */
.card-img-top {
    height: 200px; /* Ajustez cette valeur en fonction de vos besoins */
    object-fit: cover;
  }
  
