<!-- acceuil.component.html -->
<main class="container-fluid">
    <section>
        <h2>Présentation</h2>
        <p>Bienvenue sur notre site de cuisine ! Ici, nous célébrons l’amour de la bonne nourriture.
            Que vous soyez un chef expérimenté ou un débutant en cuisine, notre site est conçu pour vous inspirer et vous aider à créer des plats délicieux. 
            Nous proposons une variété de recettes allant des plats traditionnels aux créations culinaires innovantes. 
            De plus, nous offrons des astuces et des techniques de cuisine pour vous aider à maîtriser l’art de la cuisine.
            Rejoignez-nous dans cette aventure culinaire et découvrez le plaisir de cuisiner !
        </p>
    </section>
    <app-carrousel></app-carrousel> <!-- Le carrousel est ici -->
</main>
